.App {
  height: 100vh;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

nav {
  height: 30px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: snow;
}
.page-title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}
.node {
  border: 1px solid black;
  aspect-ratio: 1;
}

.maze {
  width: 50%;
  border: 4px solid rgb(175, 216, 248);
}
.maze-container {
  display: flex;
}
.maze-div {
  padding-top: 40px;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}
.maze-button-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}
.maze-button-div {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
  max-height: 200px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: snow;
}

.maze-generate-div,
.maze-solve-div {
  flex: 1;
  flex-shrink: 2;
}

.maze-button {
  font-size: 16px;
  height: 30px;
  width: 80px;
  margin-bottom: 6px;
  border: 1px solid gray;
  border-radius: 5px;
}
.clear-maze-button {
  position: relative;
  top: 40px;
  right: 50%;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: 120px;
  margin-top: 6px;
  border: 1px solid gray;
  border-radius: 5px;
}

#start {
  background-color: green;
}

#finish {
  background-color: red;
}

#active {
  background-color: purple;
}
#not-active {
  background-color: rgb(224, 223, 224);
}
